*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

h2{
    text-align: center;
}

nav ul{
    background-color: #757575;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline-flex;

}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav li:hover {
    background-color: black;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    padding: 3%;
}

.contenido{
    display: flex;
    margin: 60px;
    padding: 50%;
    text-align: center;
}

.secciones{
    display: flex;
}
